<!DOCTYPE html>
<html lang="en">
  <html>
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/inbox3.css">

    <title>About</title>
</head>

<body>
  <div class="container-fluid">
    <br/>
    <br/>
  <h1 class="text-center">About RecruitMe</h1>
  <br/>
  <br/>
  <div class="jumbotron">
    <h1 class="display-4">Our Mission</h1>
    <br/>
    <br/>
    <br/>
    <p>The main vision with this website is to help college students integrate into the workforce after graduating.</p>
    <p>There are possibilities for every college graduate and we help you realize just how much potential you have.
    </p>
    <p>Whether you're trying to pursue your dream job, gain some experience, or explore your options, RecruitMe has you covered.</p>
    <br/>
    <h2 class="diaplay-4">Our Difference</h2>
    <br/>
    <p>This service connects you to real people and real job opportunities.</p>
    <p>We've made our website as personable as possible to present your goals, challenges, and aspirations to prospective employers.</p>
    <p>The main difference between RecruitMe and other job searching sites avaliable right now is the opportunity to 
      show potential employers you are more than just your degree. Companies want to hire you for your individual experience, 
      not for a laminated piece of paper.
    </p>
    <br/>
    <h2 class="diaplay-4">Our Hope</h2>
    <p>We hope you use this site as a way to advance your career in the direction you choose, not just the direction that happens to be avaliable.</p>
    <p>Use our website as a way to pursue your dreams - whatever they may be. Never settle for less than what you want. </p>
    </div>
      </div>
    <link rel="stylesheet" href="css/style.css">
      <div class="topnav">
        <img src="imgs/logo.png" alt="logo"width =130px height = 50px;>
        <a href ="logout.ejs" class="button3">Logout</a>
          <a href="dashboard.ejs">DashBoard</a> 
          <a href="inbox.ejs">Messages</a> 
          <a href="contact.ejs">Contact</a>
          <a href="http://localhost:1234/index.html">Job Search</a>
          <a class="active" href="about1.ejs">About</a>
          <a href="Home.ejs">Home</a>
        </div>
  </body>
  </html>