<!DOCTYPE html>
<html lang="en">
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/contact.css">
    </head>
    <body>
      <div class="contact-box">
        <form action="">
          <input type="text" class="input-field" placeholder="Your Name">
          <input type="text" class="input-field" placeholder="Your Email">
          <input type="text" class="input-field" placeholder="Subject">
          <textarea type="text" class="input-field textarea-field" placeholder="Your message"></textarea>
          <button type="button" class="btn">Send Message</button>
        </form>
      </div>
          <link rel="stylesheet" href="css/style.css">
          <div class="topnav">
            <img src="imgs/logo.png" alt="logo"width =130px height = 50px;>
            <a href="login.ejs"class="button2" style="color: black;">Login</a>
            <a href ="./views/signup.ejs" class="button3">Sign up</a>
              <a href="dashboard.ejs">DashBoard</a> 
              <a href="inbox.ejs">Messages</a> 
              <a class="active" href="contact1.ejs">Contact</a>
              <a href="about.ejs">About</a>
              <a  href="http://localhost:3002/">Home</a>
            </div>
    </body>
</html>