<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Inbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/inbox.css">
    <script type="text/javascript" src ="js/login.js"></script>
</head>
<body>

<div class="container bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-4 bg-white ">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
            	
            </div>
        
            <ul class="friend-list">
                <li class="active bounceInDown">
                	<a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User1</strong>
                		</div>
                		<div class="last-message text-muted">Hello, Are you there?</div>
                		<small class="time text-muted">Just now</small>
                		<small class="chat-alert label label-danger"></small>
                	</a>
                </li>
                <li>
                	<a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User2</strong>
                		</div>
                		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                		<small class="time text-muted">5 mins ago</small>
                	<!-- <small class="chat-alert text-muted"><i class="fa fa-check"></i></small> -->
                	</a>
                </li> 
                <li>
                	<a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User3</strong>
                		</div>
                		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                		<small class="time text-muted">Yesterday</small>
                		<!-- <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small> -->
                	</a>
                </li>  
                <li>
                	<a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User4</strong>
                		</div>
                		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                		<small class="time text-muted">Yesterday</small>
                		<!-- <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small> -->
                	</a>
                </li>     
                <li>
                	<a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User5</strong>
                		</div>
                		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                		<small class="time text-muted">Yesterday</small>
                		<!-- <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small> -->
                	</a>
                </li>        
                <li>
                	<a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User6</strong>
                		</div>
                		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                		<small class="time text-muted">Yesterday</small>
                		<!-- <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small> -->
                	</a>
                </li>          
                <li>
                	<a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User7</strong>
                		</div>
                		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                		<small class="time text-muted">Yesterday</small>
                		<!-- <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small> -->
                	</a>
                </li>
                <li>
                    <a href="#" class="clearfix">
                		<img src="imgs/unknown.png" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>User8</strong>
                		</div>
                		<div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                		<small class="time text-muted">5 mins ago</small>
                	<!-- <small class="chat-alert text-muted"><i class="fa fa-check"></i></small> -->
                	</a>
                </li>                 
            </ul>
		</div>
        
        <!--=========================================================-->
        <!-- selected chat -->
    	<div class="col-md-8 bg-white ">
            <div class="chat-message" id='chatbox'>
                <ul class="chat" id='chatlist'>
                    <li class="left clearfix">
                    	<span class="chat-img pull-left">
                    		<img src="imgs/unknown.png" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">User9</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    		</p>
                    	</div>
                    </li>
                    <li class="right clearfix">
                    	<span class="chat-img pull-right">
                    		<img src="imgs/unknown.png" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">You</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    		</p>
                    	</div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                    		<img src="imgs/unknown.png" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">User9</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    		</p>
                    	</div>
                    </li>
                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                    		<img src="imgs/unknown.png" alt="UserAvatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">You</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    		</p>
                    	</div>
                    </li>                    
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                    		<img src="imgs/unknown.png" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header">
                    			<strong class="primary-font">User9</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                    		</div>
                    		<p>
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    		</p>
                    	</div>
                    </li>
                    
                    <li class="right clearfix" id='yourmessage'>
                        <span class="chat-img pull-right" id='image'>
                    		<img src="imgs/unknown.png" alt="User Avatar">
                    	</span>
                    	<div class="chat-body clearfix">
                    		<div class="header" id="header">
                    			<strong class="primary-font">You</strong>
                    			<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> Just now</small>
                    		</div>
                    		<p id="paragraph">
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                    		</p>
                    	</div>
                    </li>         
                </ul>
            </div>
            <div class="chat-box bg-white">
            	<div class="input-group">
            		<input class="form-control border no-shadow no-rounded" placeholder="Type your message here" id="message">
            		<span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button" onclick="addMessage();">Send</button>
            		</span>
            	</div>
            </div>            
		</div>        
	</div>
</div>

<script type="text/javascript">
var myDiv = document.getElementById("chatbox"); // automatically scrolls to bottom
        myDiv.scrollTop = myDiv.scrollHeight;
function addMessage() {
    var input = document.getElementById('message').value;
    if(input != "") {
        var messagebox = document.getElementById('yourmessage'); // get input

        // var newmessage = messagebox.cloneNode(true); // clone your chat
        
    
        // document.getElementById('chatlist').appendChild(newmessage)

        let newmessage = document.createElement('li');
        newmessage.className = 'right clearfix';

        var image = document.getElementById('image');
        var newImage = image.cloneNode(true);
        newmessage.appendChild(newImage);

        let chatBody = document.createElement('div')
        chatBody.className = 'chat-body clearfix';
        newmessage.appendChild(chatBody);

        var haeader = document.getElementById('header');
        var newHeader = haeader.cloneNode(true);
        chatBody.appendChild(newHeader);


         let para = document.createElement('P');
         para.innerHTML = input;
         chatBody.appendChild(para);
         document.getElementById('chatlist').appendChild(newmessage)



        var myDiv = document.getElementById("chatbox"); // automatically scrolls to bottom
        myDiv.scrollTop = myDiv.scrollHeight;
        
        document.getElementById('message').value=''; // clear input box
    }
};

</script>
<link rel="stylesheet" href="css/style.css">
      <div class="topnav">
		<img src="imgs/logo.png" alt="logo"width =130px height = 50px;>
		<a href ="logout.ejs" class="button3">Logout</a>
		<a href="dashboard.ejs">DashBoard</a> 
          <a class="active" href="inbox.ejs">Messages</a> 
		  <a href="contact.ejs">Contact</a>
          <a href="http://localhost:1234/index.html">Job Search</a>
          <a href="about1.ejs">About</a>
          <a href="Home.ejs">Home</a>
        </div>
</body>
</html>